@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  font-family: "Lato", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 98, 1) 0%,
    rgba(85, 0, 255, 1) 100%
  );
  background-attachment: fixed;
  background-size: cover;
}

.thecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  z-index: -1;
}

h1 {
  color: #f7f7f7;
  font-size: 48px;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  display: inline-block;
}

h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
}

h1:hover::after {
  content: "";
  width: 100%;
  transition: width 1s ease-in-out;
}

.text {
  width: 50%;
}
.typewriter {
  width: 120%;
}
.typewriter p {
  font-size: 40px;
  width: 100%;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(22, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #f7f7f7;
  }
}

.footer-bottom {
  display: flex;

  background: #303036;
  color: #d3d3d3;
  width: 100%;
  position: absolute;
  height: 8%;
  bottom: -40%;
  left: 0;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: #f7f7f7;
  position: relative;
  padding-bottom: 5px;
  display: inline-block;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  left: 50%; /*Add this*/
  transform: translate(-50%, 0); /*Add this*/
}

.nav-link:hover::after {
  content: "";
  width: 100%;
  transition: all 0.5s ease-in-out;
  transform-origin: center;
}
